<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-4">
        <nav class="navbar navbar-inverse">
            <button class="navbar-toggle navbar-toggle-right" type="button" data-toggle="collapse" data-target="#menuBar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="glyphicon glyphicon-th-large"></span>
            </button>
                <!-- Brand and toggle get grouped for better mobile display -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="menuBar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">
                            <a href="/testimony">Testimony</a>
                        </li>
                        <li>
                            <a href="/gallery">Gallery</a>
                        </li>
                        <li>
                            <a href="/pastor-post">Pastor's post</a>
                        </li>
                        <li>
                            <a href="/daily-devotion">Daily Devotion</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- /.container-fluid -->
        </nav>
    </div>
</div>

<div class="row space-top">
    <div class="col-md-6 col-md-offset-3">
        <div class="col-body">
            <div class="row">
                <form action="../api/testimony/{{result._id}}" method="post">
                    <div class="col-md-6">
                        <input class="form-control no-round" disabled placeholder="Name" name="fullName" value="{{result.fullName}}"/>
                    </div>
                    <div class="col-md-6">
                        <select class="form-control no-round" name="gender" disabled>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="col-md-12 space-top">
                        <textarea class="form-control no-round limit-textarea" name="testimony" placeholder="Testimony">{{result.testimony}}</textarea>
                    </div>
                    <div class="col-md-4 space-top">
                        {{#if status}}
                            <select class="form-control no-round" name="status">
                                <option selected="selected" value="approved">Approved</option>
                                <option value="pending">Pending</option>
                            </select>
                        {{else}}
                            <select class="form-control no-round" name="status">
                                <option value="approved">Approved</option>
                                <option selected="selected" value="pending">Pending</option>
                            </select>
                        {{/if}}
                    </div>
                    <div class="col-md-3 col-md-offset-5 space-top">
                        {{#if status}}
                            <label class="btn-success btn no-round" disabled>Approved</label>
                        {{else}}
                            <label class="btn-danger btn no-round" disabled>Pending</label>
                        {{/if}}
                    </div>
                    <div class="col-md-12 space-top">
                        <input class="hidden" name="redirect" value="redirect"/>
                        <button type="submit" class="btn-success btn no-round">Save</button>
                        <a href="../api/testimony/{{result._id}}/delete?redirect=redirect" class="pull-right btn-danger btn no-round">Delete</a>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>